weather-component {
  display: block;
  height: 100%;
  display:flex;
  flex-direction: column;
  min-height: 100vh;

  .wrap {
    background: rgb(58,163,229);
    background: -moz-linear-gradient(top,  rgba(58,163,229,1) 0%, rgba(255,255,255,1) 65%);
    background: -webkit-linear-gradient(top,  rgba(58,163,229,1) 0%,rgba(255,255,255,1) 65%);
    background: linear-gradient(to bottom,  rgba(58,163,229,1) 0%,rgba(255,255,255,1) 65%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3aa3e5', endColorstr='#ffffff',GradientType=0 );
    flex: 1;
    display:flex;
    flex-direction: column;
    color: #2189ca;
    transition: all .4s linear;
  }

  .wrap.night {
    background: #0B2844;
    background: -moz-linear-gradient(top,  #0B2844 0%, rgba(255,255,255,1) 200%);
    background: -webkit-linear-gradient(top,  #0B2844 0%,rgba(255,255,255,1) 200%);
    background: linear-gradient(to bottom,  #0B2844 0%,rgba(255,255,255,1) 200%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0B2844', endColorstr='#ffffff',GradientType=0 );
    color: #fff;
  }

  header {
    color: #fff;
    padding: 15px 20px;
  }

  footer {
    opacity: 0.3;
    border-top: 1px solid rgba(0,0,0,.3);
    text-align: center;
    padding: 15px 20px;
  }

  .search {
    float: left;
  }

  @media only screen and (max-width : 550px) {
    .search {
      float: none;
      width: 100%;
      text-align: center;
      margin: 20px 0 40px 0;
    }
  }

  header .right {
    float: right;
  }

  @media only screen and (max-width : 550px) {
    header .right {
      float: none;
      width: 100%;
      text-align: center;
    }
  }

  .city-name {
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
  }

  .temp-unit {
    display: inline-block;
    margin-left: 40px;
    background-color: #17212B;
    border: 1px solid #17212B;
    border-radius: 10px;
    cursor: pointer;

    .o {
      display: inline-block;
      padding: 2px 10px;
      border-radius: 10px;
      position: relative;
      padding-left: 15px;
      transition: all .1s linear;

      &.active {
        background-color: #fff;
        color: #333;
      }

      sup {
        position: absolute;
        top: 3px;
        left: 8px;
      }

    }
  }

  .search {
    .field {
      background-color: transparent;
      border: none;
      color: #fff;
      font-size: 14px;
      border-bottom: 1px solid rgba(255,255,255,.2);
      outline: none;
      font-family: 'Gudea', sans-serif;
      padding-bottom: 5px;
      width: 200px;

      &::-webkit-input-placeholder {
        color: rgba(255,255,255,.5);
      }
    }
    .submit {
      background: transparent;
      border: none;
      color: #fff;
      font-size: 12px;
      font-family: 'Gudea', sans-serif;
      padding: 0 10px;
      text-transform: uppercase;
      vertical-align: bottom;
    }
  }

  .content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    min-height: 600px;
    padding: 15px 20px;

    .temp {
      font-size: 150px;
      font-family: 'Oswald', sans-serif;
      text-align: center;

      sup {
        font-weight: 100;
      }

      .text {
        display: block;
        vertical-align: bottom;
        line-height: 1;
        float: left;
        position: relative;
        left: 10px;
      }
      .icon {
        display: block;
        vertical-align: bottom;
        font-size: 75px;
        float: left;
        position: relative;
        top: 105px;
        left: -10px;
      }
    }

    .date {
      font-size: 24px;
      margin-bottom: 40px;
      font-weight: 100;
      opacity: .7;
    }
  }

  .hours {
    margin: 70px 0 10px;
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 12px;
    white-space: nowrap;
    overflow: auto;
    max-width: 100%;

    li {
      display: inline-block;
      width: 60px;
      padding: 10px 0;
      margin: 10px 0;
      cursor: pointer;
      border-radius: 5px;

      &.active {
        background-color: rgba(197,228,247,.4);
      }
      .hour-temp {
        margin-bottom: 10px;
      }
    }
  }

  .days {
    margin: 10px 0 0;
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 12px;
    white-space: nowrap;
    overflow: auto;
    max-width: 100%;

    li {
      display: inline-block;
      width: 60px;
      padding: 10px;
      margin: 10px 0;
      cursor: pointer;
      border-radius: 5px;

      &.active {
        background-color: rgba(197,228,247,.4);
      }

      .day-temp {
        margin-bottom: 10px;
        border-bottom: 1px solid rgba(255,255,255,1);
        padding-bottom: 10px;
      }
    }
  }

}
