<div class="wrap {{$weather.getDayOrNight($weather.getDayHour($weather.dayNumber, $weather.hourNumber).weather[0] || {})}}">
  <header class="clearfix">

    <form ng-submit="$weather.handleSubmit($event)" class="search">
      <input type="text" name="q" placeholder="City Name" ng-model="$weather.q" autocomplete="off" class="field" autofocus />
      <input type="submit" value="Search" class="submit" />
    </form>

    <div class="right">

      <div class="city-name">
        {{$weather.forecast.city.name}}, {{$weather.forecast.city.country}}
      </div>

      <div class="temp-unit" ng-click="$weather.toggleUnit()">
        <div class="o c" ng-class='{active: $weather.unit == "c"}'><sup>&deg;</sup>C</div>
        <div class="o f" ng-class='{active: $weather.unit == "f"}'><sup>&deg;</sup>F</div>
      </div>

    </div>

  </header>

  <div class="content">
    <div class="date">{{$weather.moment($weather.getDayHour($weather.dayNumber, $weather.hourNumber).dt_txt).format('dddd, MMM Do')}}</div>
    <div class="temp clearfix">
      <span class="text">
        {{$weather.getTemp($weather.days[$weather.dayNumber][$weather.hourNumber].main.temp, $weather.unit)}}
        <sup>&deg;</sup>
      </span>
      <span class="icon {{$weather.getIcon($weather.forecast.list[0].weather[0])}}"></span>
    </div>
    <ul class="hours">
      <li ng-repeat="($key, $hour) in $weather.days[$weather.dayNumber]"
        ng-class='{active: $key == $weather.hourNumber}'
        ng-click="$weather.hourNumber = $key"
      >
        <div class="hour-temp">
          <span>{{$weather.getTemp($hour.main.temp, $weather.unit)}}<sup>&deg;</sup></span>
          <span class="icon {{$weather.getIcon($hour.weather[0])}}"></span>
        </div>
        <div class="hour-name">
          {{$weather.moment($hour.dt).add($key * 3, 'hours').format('hh a')}}
          <!-- {{$key * 3 < 12 ? (($key*3) + ' AM') : (($key*3) + ' PM')}} -->
        </div>
      </li>
    </ul>
    <ul class="days clearfix">
      <li ng-repeat="($key, $day) in $weather.days" ng-class='{active: $key == $weather.dayNumber}' ng-click="$weather.dayNumber = $key" ng-if="$day[$weather.hourNumber]">
        <div class="day-temp">
          <span>{{$weather.getTemp($day[$weather.hourNumber].main.temp, $weather.unit)}}<sup>&deg;</sup></span>
          <span class="icon {{$weather.getIcon($day[$weather.hourNumber].weather[0])}}"></span>
        </div>
        <div class="week-name">
          <span>{{$weather.moment($weather.getDayHour($key, $weather.hourNumber).dt_txt).format('dddd')}}</span><br>
          <small>{{$weather.moment($weather.getDayHour($key, $weather.hourNumber).dt_txt).format('MMM Do')}}</small>
        </div>
      </li>
    </ul>
  </div>

  <footer>Developed with 💙 Angularjs</footer>

</div>

