html {
  height: 100%;
}
body {
  // font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-family: 'Gudea', sans-serif;
  font-size: 13px;
  margin: 0;
  padding: 0;
  min-height: 100%;
  color: #333;
}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}